# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pt
*.pth

# =========================
# Virtual environments
# =========================
agrismart-env/
venv/
.venv/
env/

# =========================
# Dataset
# =========================
data/

# =========================
# Local configuration
# =========================
.env
.env.*

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Local databases
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db